{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'lideres_sociales/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Invitación" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p align = "justify" >
            <b>A continuación, le invitamos a hacer parte de la Iniciativa Legislativa Popular ¡Por la 
            vida de los líderes sociales!, la cual consiste en una recaudación de firmas para exigirle 
            al gobierno nacional un programa especial para los líderes sociales.</b><br>
        </p>
                
        <p style="text-align:center">INICIATIVA POPULAR<br><br>¡POR LA VIDA DE LOS LÍDERES SOCIALES!<br></p>
        <p align = "justify">
        Gracias a las facultades otorgadas por la Ley 1757 de 2015, como ciudadano se tiene el 
        derecho a promover una iniciativa legislativa popular, con la cual se propone el siguiente 
        proyecto de ley relacionado con el asesinato de líderes sociales.<br><br>
        Dado el contexto actual en el que viven los líderes sociales y el creciente número de 
        asesinatos, es necesario que la población obtenga respuestas en cuanto a esta problemática: 
        ¿Qué está pasando con los líderes sociales? ¿Qué está pasando en estos territorios olvidados 
        históricamente por el Estado? ¿Cómo van las investigaciones en cuanto a estos asesinatos? 
        ¿Cómo están protegiendo a los líderes?<br><br>
        Dicho lo anterior, esta iniciativa busca solicitarle al estado la creación de un Programa 
        Nacional de Protección hacia los líderes sociales, en el que se investigue a profundidad y con 
        seriedad las preguntas planteadas anteriormente. Adicional a esto, se propone un 
        mejoramiento en los esquemas de seguridad ofrecidos por la Unidad de Protección, donde se 
        modifiquen los lineamientos con los cuales se otorgan los esquemas y a su vez evaluar la 
        posibilidad de ofrecer esquemas de seguridad integrales requeridos por líderes en lugar de 
        escoltas y vehículos. <br><br></p>

    {% formfield player.firma_acta %}

    <br>
        <p>
        Si ha decidido a apoyar esta iniciativa, le invitamos a visitar el enlace que le entregaremos al finalizar esta actividad. 
        Su firma no quedará relacionada con nuestras preguntas, por lo que no conectaremos sus respuestas con tu firma.  
        Recuerde que sus datos están protegidos por la ley HABEASDATA 2581- 2012.
        <br>
        </p>

    {% formfield player.firma_acta1 %}

    </div>

    

{% next_button %}
{% endblock %}
