{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'lideres_sociales/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Video" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p align = "justify" >
                {% if player.genero == 'Masculino'%}
                   
                    Apreciado participante, por favor, vea el siguente video ({{player.tratamiento}}). Luego llene el formulario que se le presentará a continuación.
                    Nota
                    <p style="text-align:center"><iframe src="{{link}}" width="640" height="480"></iframe></p>
                {% else%}
                    
                    Apreciada participante, por favor, vea el siguente video ({{player.tratamiento}}). Luego llene el formulario que se le presentará a continuación.
                    Nota
                    <p style="text-align:center"><iframe src="{{link}}" width="640" height="480"></iframe></p
                {% endif %}
    </div>
    {% next_button %}
{% endblock %}
